sudo apt update
sudo apt install git mysql-client -y
git clone -b vp-rem https://github.com/Amits64/vprofile-project.git
mysql -h ${rds_endpoint} -P 3306 -u ${dbuser} -p${dbpass} accounts < /home/ubuntu/vprofile-project/src/main/resources/db_backup.sql